<h1>Makers Search Page</h1>

<%= form_tag makers_path, method: :get do %>
  <%= label_tag "Name:" %>
  <%= text_field_tag :search, params[:search]  %>
  <%= submit_tag "Search", name: nil%>
<% end %>

<% if @makers %>
  <% @makers.each do |maker| %>
    <h3><%= link_to maker.name, maker_path(maker) %></h3>
  <% end %>
  <ul>
  <% @makers.each do |maker| %>
    <% maker.instruments.each do |instrument| %>
      <li>
      <p><%= link_to instrument.category.name, instrument_path(instrument) %>(<%= instrument.year %>)</p>
      <p>Sold by: <%= link_to instrument.user.username, user_path(instrument.user) %></p>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>



