
<h1>
Edit your 
 <% if @family.id == 1 %>
Banjo
<% elsif @family.id == 2 %>
Guitar
<% elsif @family.id == 3 %>
Mandolin
<% end %> 
</h1>


<%= form_for @instrument do |form| %>

<%= render partial: "instruments/attributes1", locals: { form: form, family: @family, instrument: @instrument  } %>

<% if @family.id == 1 %>
  <div><%= form.label "Back"%></div>
  <%= form.text_field :back%>
<% elsif @family.id == 2 %>
  <div><%= form.label "Bridge"%></div>
  <%= form.text_field :bridge%>
  <div><%= form.label "Neck"%></div>
  <%= form.text_field :neck%>
<% elsif @family.id == 3 %>
  <div><%= form.label "Sound_hole"%></div>
  <%= form.text_field :sound_hole%>
<% end %>




<div><%= form.label "For Sale"%></div>
     <%= form.text_field :for_sale%>
<div><%= form.label "Description"%></div>
     <%= form.text_area :description%>

<div><%= form.submit "Edit Instrument"%></div> 
<% end %>